@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInPopup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInPopup 0.6s ease-out forwards;
}
